@import '@fontsource/league-spartan/latin.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: #ffff;
  background: linear-gradient(180deg, #ffff 61%, #ffff 75%, rgba(225,221,221,1) 100%);
}
